<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <a class="navbar-brand brand-custom" routerLink="/inicio-enlace">Skincare<span>Facial</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/piel-enlace" routerLinkActive="active-link" class="nav-link">Piel</a>
        </li>
        <li class="nav-item">
          <a routerLink="/rutina-enlace" routerLinkActive="active-link" class="nav-link">Rutina</a>
        </li>
        <li class="nav-item">
          <a routerLink="/resena-enlace" routerLinkActive="active-link" class="nav-link">Reseñas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

