<div class="hero-section">
  <img class="hero-image" src="/aceite.jpg" alt="Aceite esencial para el cuidado de la piel">

  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>Simplifica tu Rutina de Skincare</h1>
    <p>Descubre tu piel y crea la rutina perfecta para ti. Sin complicaciones, sin estrés.</p>

    <a class="btn-hero" routerLink="/piel-enlace">Empieza ahora</a>
  </div>
</div>

<div class="intro-message-container">
  <p class="intro-message">
    Tu piel es tu mejor accesorio. Cuídala, ámala y déjala brillar con nuestra guía experta.
  </p>
</div>